@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

nav {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ddd;
}

main {
    max-width: 60vw;
    padding: 20px;
    margin: 150px auto;
    text-align: center;
}

.welcome-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.welcome-description {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.features-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.features-section img {
    width: 100px;
    margin-right: 20px;
}

.features-list {
    list-style-type: none;
    text-align: left;
}

.features-list li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: inline-block;
    width: 80px;
    margin-right: 10px;
    color: #333;
    vertical-align: top;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="date"],
.form-group input[type="time"] {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn-save {
    background-color: #2896FF;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    float: right;
    margin-top: 40px;
    margin-right: -20px;
}

button[type="submit"]:hover {
    background-color: #1e77e6;
}

.task-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 300px;
    margin-right: 20px;
    display: inline-block;
}

.button-container {
    text-align: right;
    margin-top: 10px;
}

.edit-button,
.delete-button {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: #2896FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.delete-button {
    background-color: #FF5722;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #1e77e6;
}

.task-card h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.task-card p {
    text-align: justify;
    margin-bottom: 10px;
}

.task-card .task-datetime {
    text-align: right;
    font-style: italic;
}